# Virtual environment
env/

# Python compiled files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# VSCode settings
.vscode/

#models
LLLL/
distilroberta/
bertweet/

bertweet_trained_models_seeds/
distilroberta_trained_models_seeds/