# Virtual environment
env/

# Python compiled files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# VSCode settings
.vscode/

#models
roberta_sentiment_model/
roberta_emotion_model/
hyperparameter_tuning_sentiment_20250709_123125/
roberta_sentiment_model_optimized/
hyperparameter_tuning_emotion_20250709_180520
roberta_emotion_model_optimized
roberta_ultra_light/
deberta_optimized/
bertweet_model_ultra_light/