# Virtual environment
env/

# Python compiled files
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# macOS system files
.DS_Store

# VSCode settings
.vscode/

#models
LLLL/
initial_bertweet_multitask_model/
initial_bertweet_sentiment_model/
initial_bertweet_emotion_model/
final_bertweet_multitask_model/
final_bertweet_sentiment_model/
final_bertweet_emotion_model/
bertweet/